/* $Id$ */

a.admbox,
a.admbox:visited {
	height: 92px;
	width: 92px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	margin: .4em;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
	text-decoration: none;
}

a.admbox .icon {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
a.admbox span.title {
	position: absolute;
	top: 47px;
	left: 0;
	text-align: center;
	width: 100%;
	margin: .1em;
	white-space: normal;
}

/*a.admbox.disabled img {
	border: none;
	background-image: url('../../../img/overlay-disabled_item.png');
}*/
/* Look & feel thumbnail */

#style_thumb_div {
	text-align: center;
}

.adminoptionpopup a {
	display: block;
}

.multicheckbox label,
.multicheckbox ul,
.multicheckbox > div {
	float: left;
}

.multicheckbox ul {
	margin: 0;
	padding: 0 1em;
}

.multicheckbox li {
	list-style-type: none;
}

.admin input.fullwidth {
	width: 100%;
}

.half_width {
	width: 49%;
	float: left;
	text-align: left;
}

.width_40em {
	width: 40em;
}

.width_30em {
	width: 30em;
}

.admin2cols label {
	display: block;
	float: left;
	min-width: 20%;
}

.admin legend img, .admin label img {
	margin-left: 1em;
	vertical-align: middle;
}

.admingroup {
	border: #aaa 1px solid;
	margin-bottom: .5em;
}

.q234 {
	min-width: 75%;
	max-width: 79%;
	float: left;
	clear: none;
}

.q1 {
	width: 33%;
	display: block;
	float: left;
	clear: none;
	vertical-align: middle;
}
.q23 {
	width: 66%;
	float: left;
	clear: none;
}


.toolbars-admin .full {
	border: solid thin lightgrey;
	float: left;
	height: auto;
	max-height: 400px;
	min-height: 16px;
	overflow: auto;
	margin: 0;
}

.toolbars-admin .lists {
	padding: 1em 2em 1em 0;
	float: left;
	width: 31%;
	min-height: 10em;
}

.toolbars-admin .rows {
	width: 100%;
	float: left;
	clear: both;
	padding: 1em 2em 1em 0;
}

.toolbars-admin .selectDiv {
	float: left;
	clear: left;
}

.toolbars-admin .li {
	display: block;
	white-space: nowrap;
}
.toolbars-admin .full li {
	white-space: nowrap;
	padding: .1em .5em;
	overflow: hidden;
	border-top: 1px #eee solid;
	border-bottom: 1px #ccc solid;
}

.toolbar img.icon {
	vertical-align: middle;
	margin-right: 4px;
}

.toolbars-admin .toolbar {
	cursor: pointer;
	height: 1.5em;
	line-height: 1.2em;
}

.toolbars-admin .rows .row {
	width: 95%;
	min-height: 20px;
	min-width: 500px;
	overflow: hidden;
	border: solid thin lightgrey;
	margin: 0;
	padding: 2px 4px 0;
	white-space: nowrap;
}

.toolbars-admin .rows .row-right {
	float: right;
	border: none;
	padding: 0;
	min-width: 16px;
	width: auto;
}

.toolbars-admin ul.full {
	list-style-type: none;
	display: inline;
	padding-left: 0pt;
	width: 100%;
}

.toolbars-admin .row li.toolbar {
	list-style-type: none;
	float: left;
}

.toolbars-admin .row li.toolbar > span:not(.icon) {
	display: none;
}

.toolbars-admin .row li.toolbar > span.icon,
.toolbars-admin .full li.toolbar > span.icon {
	margin-right: 2px;
}

.toolbars-admin .row li.qt-plugin {
	width: auto;
	margin: 0 6px 0 0;
	padding: 2px 0px 2px 3px;
	color: #030;
	font-style: normal;
	font-weight: normal;
}

.toolbars-placeholder, .placeholder {
	width: 18px;
	height: 18px;
	list-style-type: none;
	background-color: #ff0;
	float: left;
}

.qt-wys {
	font-style: italic;
}

.qt-wiki {
	font-weight: bold;
}

.qt-custom {
	background-color: #ff9;
}

.qt-noaccess {
	opacity: .4;
}

#toolbar_edit_div label,
#toolbar_edit_div input,
#toolbar_edit_div select {
	display:block;
}

#toolbar_edit_div input,
#toolbar_edit_div select {
	clear: right;
}

#toolbar_edit_div input.text {
	margin-bottom:12px;
	width:95%;
	padding: .4em;
}

#toolbar_edit_div fieldset {
	padding:0;
	border:0;
	margin-top:25px;
}

#toolbar_edit_div .adminoptionbox {
	text-align: right;
}

.pref_search_results {
	max-height: 20em;
	min-height: 10em;
	overflow: auto !important;

}

/* end from ui-revamp branch */

/* tiki 7 modules revamp */

#assigned_modules tr {
	cursor: pointer;
	border: 1px solid transparent;
}

#assigned_modules tr.odd:hover {
	border-color: #ccc;
}

#assigned_modules tr.even:hover {
	border-color: #bbb;
}

.module-placeholder {
	width: 160px;
	min-height: 40px;
	list-style-type: none;
	background-color: #ff8;
	border: #884 2px solid;
	margin: 10px;
	padding: 10px;
}

#module_list {
	padding: 0;
}
#module_list li {
	list-style: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

#module_list li.disabled {
	opacity: 0.7;
	display: none;
}

#save_modules a {
	background-color: #faa;
	background-image: none;
}

.module_selector {
	margin: .5em .2em;
}

/* make empty module zones more "droppable" */

.ui-droppable.modules, .ui-sortable.modules {
	min-height: 10ex;
	-webkit-box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, .1);
}

#right_left.ui-sortable, #right_modules.ui-sortable {
	min-height: 100ex;
}

/* end modules revamp */

/* tiki 7 theme generator *
 * deliberately pixel based sizes */

.tgItems {
	list-style: none;
	line-height: 40px;
	background-color: #aaa;
	color: #666;
	padding: 10px;
	margin: 0 1em 1.5em 0;
}

.admin .themegenerator > div > label,
.themegenerator > div > label {
	background-color: #aaa;
	color: #ddd;
	line-height: 24px;
	padding: 4px 10px 6px;
	font-weight: bold;
	text-decoration: underline;
	white-space: nowrap;
}

.tgItems > li {
	position: relative;
	float: left;
	background-color: #aaa;
	border: 2px solid #aaa;
	margin: 1px;
}

.tgItems > li > div > * {
	float:left;
	margin: 3px 6px 0 0;
}

.tgItems > li > * {
	float:left;
}

.tgItems .tgValue {
	margin-top: 10px;
	width: 60px;
	color: #666;
	background-color: #ddd;
	border-color: #999 #ccc #ccc #999;
}

.tgItems .tgLabel {
	text-align: right;
	width: 48px;
}

.tgItems .changed input {
	font-style: italic;
	color: #333;
}

.tgItems .selected {
	border: 2px solid #bbb;
}

.tgItems input[type=checkbox] {
	margin-top: 14px;
}

.tgTools * {
	float: left;
	vertical-align: middle;
	font-size: 0.9em;
}

.tgItems div.tgWide {
	width: 10em;
	overflow: hidden;
	white-space: nowrap;
}

.tgItems input.tgWide {
	width: 20em;
}

.tgContexts li {
	font-family: monospace;
	font-size: 1.2em;
}

/* end theme generator */

/* profiles */

.profile_export_list {
	height: 30em;
	overflow: auto;
}

#export_to_yaml .wikitext {
	height: 30em;
	overflow: auto;
	padding: .5em;
}

/* end profiles */

