// $Id$ Custom variables for the Watermelon theme option of the FiveAlive and FiveAlive-lite themes
// This file is a copy of the default bootstrap variables.scss file.

// Variables
// --------------------------------------------------

//== Colors


$brand-primary: #c21e3b;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//== Scaffolding
//
// ## Settings for some of the most global styles.



//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: #e10c7c;
//darken($link-color, 15%);

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// $font-family-sans-serif:  Arial, Helvetica, sans-serif;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif;
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
// $font-family-base:        $font-family-sans-serif;

// $font-size-base:          14px;
// $font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
// $font-size-small:         ceil(($font-size-base * 0.85)); // ~12px
//
// $font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
// $font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
// $font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
// $font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
// $font-size-h5:            $font-size-base;
// $font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

// //** Unit-less `line-height` for use in components like buttons.
// $line-height-base:        1.428571429; // 20/14
// //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
// $line-height-base:    floor(($font-size-base * $line-height-base)); // ~20px
//
// //** By default, this inherits from the `<body>`.
// $headings-font-family:    inherit;
// $headings-font-weight:    700;
// $headings-line-height:    1.1;
// $headings-color:          inherit;



//** Global color for active items (e.g., navs or dropdowns).
$component-active-color: #ffffff;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg: $brand-primary;

//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color: #e7768a;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

// $btn-font-weight:                normal;

$btn-default-color: #ffffff;
$btn-default-bg: #c31e3b;
$btn-default-border: #e7768a;
// #a61d35 #a61d35 #e7768a

$btn-primary-color: #ffffff;
$btn-primary-bg: #c31e3b;
//$brand-primary;
$btn-primary-border: #e7768a;
// #b2a713 #b2a713 #f0e884; // darken($btn-primary-bg, 5%);

$btn-success-color: #ffffff;
$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-info-color: #ffffff;
$btn-info-bg: $brand-info;
$btn-info-border: darken($btn-info-bg, 5%);

$btn-warning-color: #ffffff;
$btn-warning-bg: $brand-warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: #ffffff;
$btn-danger-bg: $brand-danger;
$btn-danger-border: darken($btn-danger-bg, 5%);


//== Forms
//
//##

//** `<input>` background color
$input-bg: #f9dfe2;



$input-border-color: #fb999e;
// #f9f0f0 #f9f0f0 #fb999e;
//** `<input>` border radius
// $input-border-radius:            $border-radius;
//** Border color for inputs on focus
$input-focus-border-color: #fb999e;
// #66afe9;

$legend-border-color: #e5e5e5;

//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg: #8c1832;
// get value from .cssmenu_vert li ul a
//** Dropdown menu `border-color`.
$dropdown-border-color: rgba(0, 0, 0, .15);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border: #cccccc;
//** Divider color for between dropdown items.
$dropdown-divider-bg: #e5e5e5;

//** Dropdown link text color.
$dropdown-link-color: #ffffff;
//** Hover color for dropdown links.
$dropdown-link-hover-color: darken(#fff, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg: darken(#8c1832, 5%);

//** Active dropdown menu item text color.
$dropdown-link-active-color: $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg: $component-active-bg;

// Navbar links
$navbar-light-link-color: #ffffff;
$navbar-light-link-hover-color: #f9f9f9;
$navbar-light-link-hover-bg: darken($btn-default-bg, 6.5%);
$navbar-light-link-active-color: #ffffff;
//$navbar-light-link-active-bg  //Deprecated?: darken($btn-default-bg, 6.5%);
//darken($navbar-light-bg, 6.5%);
$navbar-light-link-disabled-color: #ffffff;
$navbar-light-link-disabled-bg: transparent;

// Navbar brand label
$navbar-light-brand-color: $navbar-light-link-color;
$navbar-light-brand-hover-color: darken($navbar-light-brand-color, 10%);
$navbar-light-brand-hover-bg: transparent;

// Navbar toggle
$navbar-light-toggle-hover-bg: #dddddd;
$navbar-light-toggle-icon-bar-bg: #888888;
$navbar-light-toggle-border-color: #dddddd;

// Inverted navbar
// Reset inverted navbar basics
$navbar-dark-color: #ffffff;
$navbar-dark-bg: #a51e37;
$navbar-dark-border: darken($navbar-dark-bg, 10%);

// Inverted navbar links
$navbar-dark-link-color: $gray-200;
$navbar-dark-link-hover-color: #ffffff;
$navbar-dark-link-hover-bg: transparent;
$navbar-dark-link-active-color: $navbar-dark-link-hover-color;
$navbar-dark-link-active-bg: darken($navbar-dark-bg, 10%);
$navbar-dark-link-disabled-color: #444444;
$navbar-dark-link-disabled-bg: transparent;

// Inverted navbar brand label
$navbar-dark-brand-color: $navbar-dark-link-color;
$navbar-dark-brand-hover-color: #ffffff;
$navbar-dark-brand-hover-bg: transparent;

// Inverted navbar toggle
$navbar-dark-toggle-hover-bg: #333333;
$navbar-dark-toggle-icon-bar-bg: #ffffff;
$navbar-dark-toggle-border-color: #333333;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text: #3c763d;
$state-success-bg: #dff0d8;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text: #31708f;
$state-info-bg: #d9edf7;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text: #8a6d3b;
$state-warning-bg: #fcf8e3;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text: #a94442;
$state-danger-bg: #f2dede;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%);



// //** Horizontal line color.
$hr-border: #c31e3b;

$brand-primary-of-option: $brand-primary;
