// $Id$
// This file contains CSS rules for this theme that aren't covered by Bootstrap, such as additional Tiki theme properties.
// To do: Use variables for global Tiki properties and customize a Tiki variables file per-theme.
$imagePath: "../images/";
// image path use example:
//  body {
//	background-image: url('#{$imagePath}bg.jpg');
//  }

$topmodules-row-sidemargins: 0;
$topbar-row-sidemargins: -15px;

body > .container {
	border: 1px solid #aaaaaa;
	margin-top: 18px;
	margin-bottom: 18px;
}

.container {
	background: #ffffff;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

.navbar-inverse .container {
	background: #222222;
	border-color: transparent;
}

.cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a:hover,
.cssmenu_vert li.selected a {
	text-decoration: none;
	color: $navbar-light-hover-color;
//	background-color: //$navbar-default-link-active-bg  //Deprecated?;
}


//#col1 {
//	margin-left: -1px;
//	margin-right: -1px;
//}

#col2 {
//	margin-right: -1px;
//	margin-left: -1px;
	.content {
		margin-left: -15px;
		margin-right: -15px;
//	  .card.module {
//		margin-left: -1px;
//		margin-right: -1px;
//	  }
	}
}

#col3 {
//  margin-left: -1px;
//	margin-right: -1px;
	.content {
		margin-left: -15px;
		margin-right: -15px;
	}
}

#col1,
#col2,
#col3 {
	border: 1px solid #aaaaaa;
	/*border-width: 0 1px;*/
}

//#col3 {
//	border-right-width: 0;
//}

h3.card-title {
	color: black;
	font: 90% "Arial", "Helvetica", sans-serif;
	font-weight: bold;
	/*  height: 18px;
	  margin: 0px 0px 7px 1em;
	  padding: 0px;*/
	text-transform: uppercase;
}

#col2 card-primary,
#col3 card-primary,
#col2 card-primary > card-header,
#col3 card-primary > card-header {
	border: none;
}

#col2 card-header,
#col3 card-header {
	padding: 10px 15px 0 10px;
}

body.fullscreen {
	.container,
	#col1 {
		border: none;
	}
}
