<!-- $Id$
    This is sample page content to show how to set up a fixed-position background, ribbons over images, and rotating social network icons.  -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="fixed-position-background">
            <div class="fixed-position-background"  style="background-image: url(themes/lighty/images/map.jpg);">
                <h1>WELCOME</h1>
            </div>
        </div>
    </div>
</div>
<div class="row margin-bottom-md">
    <div class="col-md-4 col-sm-4">
        <p><span class="first-character sc">D</span>umque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores  prohibebant auctique torrentes, Herculanus advenit protector domesticus. </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p>Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus. </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p>Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus.</p>
    </div>
</div>
<div class="row margin-bottom-md">
    <div class="col-md-4 col-sm-12">
        <div class="content">
            <a href="" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="themes/lighty/images/map.jpg" width="100%">
                <div class="content-details fadeIn-top text-center">
                    <h3>Title</h3>
                    <p>Subtitle 1</p><a class="btn btn-primary" href="">READ MORE</a>
                </div>
            </a>
        </div>
        <div class="ribbon-wrapper-featured">
            <div class="ribbon-featured">FEATURED</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="content">
            <a href="" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="themes/lighty/images/map.jpg" width="100%">
                <div class="content-details fadeIn-top text-center">
                    <h3>Title 2</h3>
                    <p>Subtitle 2</p><a class="btn btn-primary" href="">READ MORE</a>
                </div>
            </a>
        </div>
        <div class="ribbon-wrapper-featured">
            <div class="ribbon-featured">FEATURED</div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="content">
            <a href="" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="themes/lighty/images/map.jpg" width="100%">
                <div class="content-details fadeIn-top text-center">
                    <h3>Title 3</h3>
                    <p>Subtitle 3</p><a class="btn btn-primary" href="">READ MORE</a>
                </div>
            </a>
        </div>
        <div class="ribbon-wrapper-featured">
            <div class="ribbon-featured">FEATURED</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4">
        <p>Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores   prohibebant     auctique torrentes, Herculanus advenit protector domesticus. </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p>Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus. </p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p>Dumque ibi diu moratur commeatus opperiens, quorum translationem ex Aquitania verni imbres solito crebriores prohibebant auctique torrentes, Herculanus advenit protector domesticus.</p>
    </div>
</div>
<div class="row block-social">
    <div class="col-md-12 col-sm-12">
        <div class="socials">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="ribbon-wrapper-featured">
                <div class="ribbon-featured">FOLLOW ME/US</div>
            </div>
        </div>
    </div>
</div>
{HTML}
