// $Id$ tiki-custom-variables.scss file, to provide values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// These Plum theme option values are used by styles/fivealive/less/_tiki-selectors.scss

$imagePath: "../images/";
$imagePathTop: "../../../images/";
$side-column-border: none;
$side-column-panel-heading-background: #ffffff;
// #cb65fe;
$side-column-panel-title-color: #49006c;
// #35004f;
$side-column-panel-heading-border-color: #49006c;
$side-column-panel-heading-border-width: 0 0 1px 0;
$header_outer-background: url('#{$imagePath}siteheadertile.png') 0 0 no-repeat;
$header_container-background: url('#{$imagePathTop}header_left.png') 0 0 no-repeat;
$header_container_header-background: url('#{$imagePath}siteheader.jpg') -248px 0 no-repeat;
$form-control-background: #f4e1ff;
$form-control-border-colors: #db9fff #f9f0ff #f9f0ff #db9fff;
$footer-color: #f4f4f4;
$footer-border-color: #7a04b5;
$footer-link-color: #ce57df;
$navbar-default-navbar-nav-li-a-background: #49006c;
$postbody-title-background: url('#{$imagePath}siteheader.jpg') no-repeat -480px -200px;
$postbody-title-color: #ffffff;
$brand-primary-of-option: $brand-primary;

.navbar-nav > li.dropdown {
	border-bottom: 1px solid $btn-primary-bg;
}
